{
    "singleQuote": true,
    "trailingComma": "es5",
    "semi": true,
    "arrowParens": "always",
    "useTabs": false,
    "tabWidth": 2,
    "endOfLine": "lf",
    "importOrder": [
        "^react$",
        "^next",
        "(?!^react$)(?!^next)^[a-zA-Z/-]*$",
        "(?!^@api)(?!^@components)(?!^@configs)(?!^@constants)(?!^@contexts)(?!^@hooks)(?!^@styles)(?!^@utils)^@([a-zA-Z]*)(.*)$",
        "^(@api|@components|@configs|@constants|@contexts|@hooks|@styles|@utils)(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": false
}